.header-message {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.header {
    min-height: 5rem /* 80/16 */;
    background-color: #0635C9;
    border-radius: 0 0 2.5rem /* 40/16 */ 2.5rem /* 40/16 */;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-container {
    width: 82%;
    margin: 0 auto;
    display: flex;
}

.logo {
    display: flex;
    flex: 1;
}

.logo img {
    max-height: 3rem /* 48/16 */;
}

.cart-icon {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.cart-icon img {
    max-height: 2rem /* 32/16 */;
}